.container{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1500px;
  position: relative;
}

.flags {
  width:400px;
  height: 300px;
  border: 1px solid black;
  background-color: white;
  margin-bottom: 100px;
  display: inline-block;
  margin: 30px;
  position: relative;

}

.argentina{
  border-top: 100px solid #006847;
  border-bottom: 100px solid #CE1126;
  height: 100px;
  background: url(../imgs/argentina.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100px 100px;
  position: relative;
}

.british{
    background: linear-gradient(transparent 44%, $darkred 44%, $darkred 56%, transparent 56%),
    linear-gradient(90deg, transparent 44%, $darkred 44%, $darkred 56%, transparent 56%),
    linear-gradient(transparent 40%, white 40%, white 60%, transparent 60%),
    linear-gradient(90deg, transparent 40%, white 40%, white 60%, transparent 60%),
    linear-gradient(34deg, transparent 45%, white 45%, white 48%, $darkred 48%, $darkred 52%, white 52%, white 56%, transparent 56%),
    linear-gradient(-34deg, $darkblue 45%, white 45%, white 48%, $darkred 48%, $darkred 52%, white 52%, white 56%, $darkblue 56%);

}
// .japan{
//   position: relative;
//   background-color: white;
// }
//
//
//
// .japan::after{
// content:"";
//   width:150px;
//   height:150px;
//   border-radius: 750px;
//   position: absolute;
//   background:darkred;
//   top:50%;
//   left:50%;
//  transform: translate(-50%,-50%);
// }

.france{
  border-left: 133px solid #0055A4;
  border-right: 133px solid #EF4135;
  width: 133px;
  position: relative;

}


.china {
  background: red;
  position: relative;
}
.china::before {
  content: "\2605";
  color: yellow;
  font-size: 90px;
  position: absolute;
  top:0px;
  left: 10px;
}
.china::after {
  content: "\2605";
  color: yellow;
  font-size: 30px;
  position: absolute;
  top: 55px;
  left: 120px;
  transform: rotate(30deg);
  text-shadow: 6px 45px, -30px -30px, -15px 84px;
}

.cuba{
  box-shadow: 0 60px blue inset, 0 120px white inset, 0 180px blue inset,
0 240px white inset,0 300px blue inset;
position: relative;
}

.cuba::before{
  content:"";
  width:0;
  height:0;
  position:absolute;
  top:0;
  left:0;
  border-top:150px solid transparent;
  border-left:200px solid red;
  border-bottom:150px solid transparent;
}
.cuba:after {
    content: "\2605";
    color: white;
    font-size: 100px;
    position: absolute;
    top: 80px;
    left: 20px;
  }

.algeria{
  background: linear-gradient(90deg,#006232, #006232 50%, white 50%,white 100%)
;
 position: relative;}
.algeria::before{
  position: absolute;
  content:"";
  width:100px;
  height: 100px;
   border-radius: 50px;
   top:50%;
   left:50%;
  transform: translate(-50%,-50%);
  background: transparent;
 box-shadow: -12px 0 0 11px darkred;
}

 .algeria::after {
   position:absolute;
   content:"\2605";
   color:darkred;
   font-size: 65px;
   // top:calc(50%-6px);
   // left:calc(50%-5px);
   top:100px;
   left:180px;
   transform: rotate(20deg);
 }

 // .italy{
 //   position: relative;
 //   background: linear-gradient(90deg, green, green 33%, white 33%, white 66%, $darkred 66%, $darkred 100%);
 //
 // }
 .tanzania {
  background: linear-gradient(to bottom right, $lgreen 40%, gold 40%,
  gold 43%, black 43%, black 57%, gold 57%, gold 60%, $sblue 60%)
}
 // .italy::after {
 //   position: absolute;
 //   border-left: 133px solid #0055A4;
 //   border-right: 133px solid #EF4135;
 //   width: 133px;
 //   top:0px;
 //   left:200px;
 // }

 .america{
  position: relative;
  // background: repeat-linear-gradient(180deg,
  //           #C1133D, #C1133D 50px,
  //           white 50px, white 100px);
            box-shadow: 0 33px  #C1133D inset,
                          0 66px white inset,
                          0 99px  #C1133D inset,
                          0 132px white inset,
                          0 165px  #C1133D inset,
                          0 199px white  inset,
                          0 232px  #C1133D inset,
                          0 265px white inset,
                          0 300px  #C1133D inset;
 }
 .america::before{
   position:absolute;
   top: 0;
   left: 0;
   content:"";
   background: #0055A4;
   width:200px;
   height: 165px;
 }

.america::after{
  position: absolute;
  width: 200px;
  height: 165px;
  color:white;
  content:
  "★   ★   ★   ★   ★   ★
  ★   ★   ★   ★   ★
   ★   ★   ★   ★   ★   ★
    ★   ★   ★   ★   ★
    ★   ★   ★   ★   ★   ★
    ★   ★   ★   ★   ★
    ★   ★   ★   ★   ★   ★
    ★   ★   ★   ★   ★
    ★   ★   ★   ★   ★   ★";
    font-size: 20px;
     line-height: 84%;
    text-align: center;
 word-wrap: normal;
    padding-top: 10px;
}


.brazil{
  position: relative;
  background: #009B3A;

 &:before {
   background: $yellow;
   position: absolute;
   content: "";
     top:50%;
     left:50%;
     width:220px;
     height: 200px;
     transform: translate(-50%, -50%) rotate(30deg) skew(-30deg);
 }

 > div {
   overflow: hidden;
   position: absolute;
   width: 180px;
   height: 160px;
   content: "";
   background: $blue;
   border-radius: 50%;
   top:50%;
   left:50%;
   transform: translate(-50%, -50%);
   &:before {
     content: "";
     z-index: 2;
     width: 240px;
     height: 160px;
     border-radius: 50%;
     position: absolute;
     top: 60px;
     left: -60px;
     border: 10px solid white;
   }
   &:after {
     color: white;
     font-size: 8px;
     position: absolute;
     top: 45px;
     left: 130px;
     content: "\002739 ";
     text-shadow: 20px 60px white,
   }
 }
}



.namibia {
  background: linear-gradient(to bottom right, $blue 42%, $white 42%,
  $white 45%, $mred 45%, $mred 55%, $white 55%, $white 58%, $lgreen 58%);
}
  .namibia::before {
    content: '\002600 \FE0E';
    color: $yellow;
    position: absolute;
    font-size: 60px;
    top: 10px;
    left: 30px;
  }




  .israel {
    position: relative;
    box-shadow: 0 45px $white inset, 0 75px $blue inset,
     0 225px $white inset, 0 255px $blue inset, 0 270px $white inset;
   }
    .israel::before {
      content: "\002721 \FE0E";
      color: $blue;
      font-size: 150px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }



  .newzealand {
    background: $blue;
  }

      .newzealand::before {
      content: "✸";
      color: white;
      font-size: 40px;
      position: absolute;
      top: 120px;
      left: 230px;
     text-shadow: 50px -80px $white, 100px -30px white,30px 130px white;
   }
       .newzealand::after {
       content: "✸";
       color: white;
       font-size: 80px;
       position: absolute;
       top: 200px;
       left: 75px;
      }
    .star{
      position: relative;
      @extend .british;
      width: 200px;
      height: 150px;
    }
    .star::before{
      content: "✸";
      color: white;
      font-size: 20px;
      position: absolute;
      top: 150px;
      left: 300px;
    }

    .india {
    box-shadow: 0 100px $lorange inset, 0 200px $white inset, 0 300px $lgreen inset;
    &:before {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      content: "";
      background: $white;
      border: 8px solid $dblue;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &:after {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      content: "";
      background: radial-gradient($dblue 20%, $white 70%);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .pakistan {
  // background: linear-gradient(90deg,#006232, #006232 50%, white 50%,white 100%)
    position: relative;
    box-shadow: 100px 0 white inset, 300px 0 $vdgreen inset;
  }
    .pakistan::before {
      content: '\02605';
      color: $white;
      font-size: 50px;
      position: absolute;
      top: 60px;
      left: 100px;
      transform: rotate(35deg);
    }
    .pakistan::after {
      content: '';
      position: absolute;
      top:100px;
      left: 300px;
      width: 300px;
      height: 200px;
      border-radius: 50%;
      box-shadow: -0.6em 1em 0 0 white;
    }


  .czech {
  box-shadow: 0 150px $white inset, 0 300px $mred inset;
  &:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-top: 150px solid transparent;
    border-left: 200px solid $blue;
    border-bottom: 150px solid transparent;
  }
}
