$orange: #ffcc00;
$green: #006847;
$red:#de2910;
$yellow:#fedf00;
$white:#FFFFFF;
$black:#000000;
$blue:#0000FF;
$darkred:#cc0000;
$darkblue:#0055A4;
$lred: #cf142b;
$mred: #de2910;
$dred: #ee0A30;
$lorange: #ff9933;
$yellow: #fedf00;
$gold: #fecc00;
$lgreen: #009b3a;
$brightgreen: #1eb53a;
$dgreen: #006233;
$vdgreen: #01411c;
$lblue: #74acdf;
$sblue: #006aa7;
$blue: #003399;
$dblue: #00008b;
$vdblue: #241d4f;
