

@mixin media ($width){
  @media only screen and (min-width:$width){
  @content;
  }
}


.cc{
@include  media (320px){
  background: green;
}
@include media(768px){
  background: red;
}
@include media(1024px){
  background: yellow;
}
}
