.flags{
  width: 400px;
  height:300px;
  margin: 20px;
  position :relative;
  border: 1px solid #ccc;
}

.argentina{
  border-top: 133px solid #74ACDF;
  border-bottom: 133px solid #74ACDF;
  height: 133px;
  background: url(../imgs/argentina.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100px 100px;

}
