.title1 {

   font-family: goodlife-brush, sans-serif;
   font-style: normal;
   font-weight: 400;

  font-size: 75px;
  height: 250px;
  background-color: pink;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }

span{
    font-size: 20px;
    color: pink;
    font-weight: 800;
}


.p1 {

     font-family: goodlife-brush, sans-serif;
     font-style: normal;
     font-weight: 400;

  height: 600px;
  background-color: white;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
font-family: "Times New Roman", Times, serif; }


.container {
  height: auto;
/*   background-color: yellow; */
  padding:auto;
margin:auto;
  width: 50%;
  text-align: center;
  position: relative;
  justify-content: center;
  align-items: center;
 display: grid;
/*  grid-template-rows: 1fr 5fr;  */
  /*  grid-template-columns: 2fr 5fr; */
}
.container1 {
  height: 100px;
width:100%;
 background-color: #b3cde3;

  text-align: center;
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
/*   grid-template-rows: 1fr 5fr; */

}
.container2 {
  height: auto;
  padding:auto;
margin:auto;
    width: 100%;
height:100%;
  text-align: center;
  position: relative;

  align-items: center;
  justify-content: center;
/*   grid-template-rows: 1fr 5fr; */

}

/* .up {
  height: 150px;
background-color: #00ABC9;
  text-align: center;
  position: relative; }

  .down{
    height: 750px;
  background-color: yellow;
    text-align: center;
    position: relative;
  }
 */

 .flourish-embed{

   position: relative;
    text-align: center;
   align-items: center;
   justify-content: center;
   margin: 20px;

 }
.left {
  height: auto;
  /* background-color: #00ABC9; */
  padding-left: 50px;
  padding-right: 30px;
  text-align: center;
  position: relative; }

.right {
  height: auto;
  /* background-color: #FFF1A3; */
  padding-left: 30px;
  padding-right: 50px;
  text-align: center;
  position: relative;
 }

.fivebig{

  margin-bottom: 50px;
}

.button {
  display: inline-block;

}

.button1{
  display: inline-block;
  width:150px;
  height: 30px;
  border:1px solid #000;
  margin: 20px;
  padding-top: 10px;


}
.clickp{
  margin: 10px;
}

 p{
 font-family: "Avenir";
color: 	#808080;


/*    font-family: " Merriweather"; */
    font-size: 18px;


   text-align: left;
  position: relative;
 }


 h1{


   font-family: goodlife-brush, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 40px;

   text-align: center;
  position: relative;
 }

 h2{


    font-family: "Avenir";
   font-style: normal;
   font-weight: 400;
   font-size: 30px;

   text-align: center;
  position: relative;
 }

 h3{

 font-family: futura-pt, sans-serif;

 font-weight:500;

 font-style: normal;
   font-size: 23px;
   text-align: center;
  position: relative;
 }

 h4{

   font-family: "Avenir";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
   text-align: center;
  position: relative;
  color: 	#808080;
 }

.img{
  position: relative;
   text-align: center;
  align-items: center;
  justify-content: center;
  margin:auto;
}

.scaleall{
  margin-bottom: 50px;
  padding-bottom: 20px;
}

/*# sourceMappingURL=master.css.map */
